$golden_ratio: 1.6180339887;
$long_segment: 1/$golden_ratio;
$short_segment: (1 - $long_segment)*100%;

$f1:  1/$golden_ratio;
$f2:  $f1*$f1;
$f3:  $f1*$f2;
$f4:  $f1*$f3;
$f5:  $f1*$f4;
$f6:  $f1*$f5;
$f7:  $f1*$f6;
$f8:  $f1*$f7;
$f9:  $f1*$f8;
$f10: $f1*$f9;

@mixin golden_landscape($length) {
  width: $length;
  height: $length * $long_segment;
}
@mixin golden_portrait($length) {
  width:   $length * $long_segment;
  height:  $length;
}
@mixin display-box {
  display: -webkit-box;
  display: -moz-box;
  display: box;
}
@mixin box-align($alignment) {
  -webkit-box-align: $alignment;
  -moz-box-align: $alignment;
  box-align: $alignment;
}
@mixin box-orient($orientation) {
  -webkit-box-orient: $orientation;
  -moz-box-orient: $orientation;
  box-orient: $orientation;
}
@mixin box-flex($flex) {
  -webkit-box-flex: $flex;
  -moz-box-flex: $flex;
  box-flex: $flex;
}
@mixin box-pack($pack) {
  -webkit-box-pack: $pack;
  -moz-box-pack: $pack;
  box-pack: $pack;
}

@mixin dock-left {
  @include display-box;
  @include box-orient(horizontal);
  @include box-pack(start);
}
@mixin dock-right {
  @include display-box;
  @include box-orient(horizontal);
  @include box-pack(end);
}
@mixin dock-top {
  @include display-box;
  @include box-orient(vertical);
  @include box-pack(start);
}
@mixin dock-bottom {
  @include display-box;
  @include box-orient(vertical);
  @include box-pack(end);
}
@mixin hard-corners {
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
}
@mixin top-left-bevel {
  @include hard-corners;
  -moz-border-radius-topleft: 10000px;
  border-top-left-radius: 10000px;
}
@mixin top-right-bevel {
  @include hard-corners;
  -moz-border-radius-topright: 10000px;
  border-top-right-radius: 10000px;
}
@mixin bottom-left-bevel {
  @include hard-corners;
  -moz-border-radius-bottomleft: 10000px;
  border-bottom-left-radius: 10000px;
}
@mixin bottom-right-bevel {
  @include hard-corners;
  -moz-border-radius-bottomright: 10000px;
  border-bottom-right-radius: 10000px;
}
@mixin max-height {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
@mixin center-middle {
  html {
    @include max-height;
    body {
      @include max-height;
      @include display-box;
      @include box-pack(center);
      @include box-orient(vertical);
      #container {
        @include display-box;
        @include box-pack(center);
        @include box-orient(horizontal);
      }
    }
  }
}

@mixin golden_spiral_landscape($length) {
  .cycle                                                 { @include golden_landscape ($length); }
  .cycle > div                                           { @include golden_portrait  ($length * $f1); }
  .cycle > div > div                                     { @include golden_landscape ($length * $f2); }
  .cycle > div > div > div                               { @include golden_portrait  ($length * $f3); }
  .cycle > div > div > div > div                         { @include golden_landscape ($length * $f4); }
  .cycle > div > div > div > div > div                   { @include golden_portrait  ($length * $f5); }
  .cycle > div > div > div > div > div > div             { @include golden_landscape ($length * $f6); }
  .cycle > div > div > div > div > div > div > div       { @include golden_portrait  ($length * $f7); }
  .cycle > div > div > div > div > div > div > div > div { @include golden_landscape ($length * $f8); }
}

@mixin golden_spiral_portrait($length) {
  .cycle                                                 { @include golden_portrait  ($length); }
  .cycle > div                                           { @include golden_landscape ($length * $f1); }
  .cycle > div > div                                     { @include golden_portrait  ($length * $f2); }
  .cycle > div > div > div                               { @include golden_landscape ($length * $f3); }
  .cycle > div > div > div > div                         { @include golden_portrait  ($length * $f4); }
  .cycle > div > div > div > div > div                   { @include golden_landscape ($length * $f5); }
  .cycle > div > div > div > div > div > div             { @include golden_portrait  ($length * $f6); }
  .cycle > div > div > div > div > div > div > div       { @include golden_landscape ($length * $f7); }
  .cycle > div > div > div > div > div > div > div > div { @include golden_portrait  ($length * $f8); }
}

@mixin absolute_bottom {
  position: absolute;
  bottom: 0;
}
@mixin absolute_top {
  position: absolute;
  top: 0;
}
@mixin absolute_left {
  position: absolute;
  left: 0;
}
@mixin absolute_right {
  position: absolute;
  right: 0;
}
