@import "_mixins.scss";

body {
  @include display-box;
  @include box-pack(center);
  @include box-orient(center);
}
.container {
  background-color: #DDD;
  width: 300px;
  height: 300px;
  @include display-box;
  @include box-align(stretch);
  @include box-pack(center);
  @include box-orient(vertical);  
  div {
    color: white;
    @include display-box;
  }
  .child-one {
    //@include box-flex(1);
    background-color: #cc3333;
  }
  .child-two {
    //@include box-flex(2);
    background-color: #3333cc;
  }
}
