@import "_mixins.scss";

@include center-middle;
body { background-color: white; }

$golden_ratio: 1.6180339887;
$long_segment: 1/$golden_ratio;
$short_segment: (1 - $long_segment)*100;

#container div {
  background-color: rgba(0, 0, 0, 0.08);
}
#container > div {
  width:  550px;
  height:   340px;
}
.cycle,
.cycle > div > div {
  width:   100%;
  height:  $short_segment * 1%;
}
.cycle > div,
.cycle > div > div > div{
  height: 100%;
  width: $short_segment * 1%;
}

.cycle                   { @include bottom-left-bevel; }
.cycle > div             { @include bottom-right-bevel; }
.cycle > div > div       { @include top-right-bevel; }
.cycle > div > div > div { @include top-left-bevel; }

.cycle                   { @include dock-right; }
.cycle > div             { @include dock-top; }
.cycle > div > div       { @include dock-left; }
.cycle > div > div > div { @include dock-bottom; }
