@import "_mixins.scss";

@include center-middle;
body { background-color: white; }

#container div {
  background-color: rgba(0, 0, 0, 0.07);
}
#container > div {
  @include golden_landscape(950px);
}
.cycle,
.cycle > div > div {
  width:   100%;
  height:  $short_segment;
}
.cycle > div,
.cycle > div > div > div{
  height: 100%;
  width: $short_segment;
}

.cycle                   { @include bottom-left-bevel; }
.cycle > div             { @include bottom-right-bevel; }
.cycle > div > div       { @include top-right-bevel; }
.cycle > div > div > div { @include top-left-bevel; }

.cycle                   { @include dock-right; }
.cycle > div             { @include dock-top; }
.cycle > div > div       { @include dock-left; }
.cycle > div > div > div { @include dock-bottom; }
