$seed = 890px
$ratio = 1.6180339887

body
  background-color: #FFF
  box-pack: center

#container
  width: $seed
  height: $seed / $ratio
  background-color: #eee


.north, .east, .south, .west
  display: box
.north
.east
.south
.west
  
  
  
  
#container
  div
    background-color: #eee
    height: 100%
    width: 10%
    div
      background-color: #ddd
      div
        background-color: #ccc
        div
          background-color: #bbb
          div
            background-color: #aaa
            div
              background-color: #999
              div
                background-color: #888
                div
                  background-color: #777
                  div
                    background-color: #666
                    div
                      background-color: #555
  