// box-orient: vertical/horizontal - affects layout of children
// box-pack:   start/center/end
// box-align:  stretch/center

@import "_mixins.scss";

$seed: 890px;
$ratio: 1.6180339887;

$gold: #ffe6ba;
$grey: #eeeeee;
$base-color: $grey;
$gradient-increment: 6%;

$factor: 20;
$one:   (1 * $factor)+px;
$two:   (2 * $factor)+px;
$three: (3 * $factor)+px;
$four:  (5 * $factor)+px;
$five:  (8 * $factor)+px;
$six:   (13 * $factor)+px;
$seven: (21 * $factor)+px;
$eight: (34 * $factor)+px;
$nine:  (55 * $factor)+px;

body {
  background-color: #FFF;
  @include display-box;
  @include box-pack(center);
}
.west { @include top-left-bevel; }
.east { @include bottom-right-bevel; }
.south { @include top-right-bevel; }
.north { @include bottom-left-bevel; }

#container div {
  background-color: $base-color;
}
#container {
  width: $nine;
  height: $eight;
  @include dock-right;
  background-color: $base-color;
  div {
    width: $seven;
    height: $eight;
    background-color: darken($base-color, (1*$gradient-increment));
    @include dock-top;
    div {
      width: $seven;
      height: $six;
      background-color: darken($base-color, (2*$gradient-increment));
      @include dock-left;
      div {
        width: $five;
        height: $six;
        background-color: darken($base-color, (3*$gradient-increment));
        @include dock-bottom;
        div {
          width: $five;
          height: $four;
          background-color: darken($base-color, (4*$gradient-increment));
          @include dock-right;
          div {
            width: $three;
            height: $four;
            background-color: darken($base-color, (5*$gradient-increment));
            @include dock-top;
            div {
              width: $three;
              height: $two;
              background-color: darken($base-color, (6*$gradient-increment));
              @include dock-left;
              div {
                width: $one;
                height: $two;
                background-color: darken($base-color, (7*$gradient-increment));
                @include dock-bottom;
                div {
                  width: $one;
                  height: $one;
                  background-color: darken($base-color, (8*$gradient-increment));
                }
              }
            }
          }
        }
      }
    }
  }
}
