html, body {
  height: 100%; width: 100%;
  margin: 0; padding: 0;
}

#container > div {
  width: 485.4px;
  height: 300px;
}

.cycle,
.cycle > div > div {
  height: 38.2%;
  width: 100%;
}
.cycle > div,
.cycle > div > div > div {
  width: 38.2%;
  height: 100%;
}

#container div {
  background-color: rgba(0,0,0,0.07)
}

.cycle {
  position: absolute;
  top: 0;
}
.cycle > div {
  position: absolute;
  right: 0;
}
.cycle > div > div {
  position: absolute;
  bottom: 0;
}
.cycle > div > div > div {
  position: absolute;
  left: 0;
}
