body {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-orient: center;
  -moz-box-orient: center;
  box-orient: center; }

.container {
  background-color: #DDD;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical; }
  .container div {
    color: white;
    display: -webkit-box;
    display: -moz-box;
    display: box; }
  .container .child-one {
    background-color: #cc3333; }
  .container .child-two {
    background-color: #3333cc; }
