html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }
  html body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical; }
    html body #container {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      box-orient: horizontal; }

body {
  background-color: white; }

#container div {
  background-color: rgba(0, 0, 0, 0.07); }

body .cycle, body.landscape .cycle {
  width: 800px;
  height: 494.427px; }
body .cycle > div, body.landscape .cycle > div {
  width: 305.573px;
  height: 494.427px; }
body .cycle > div > div, body.landscape .cycle > div > div {
  width: 305.573px;
  height: 188.854px; }
body .cycle > div > div > div, body.landscape .cycle > div > div > div {
  width: 116.718px;
  height: 188.854px; }
body .cycle > div > div > div > div, body.landscape .cycle > div > div > div > div {
  width: 116.718px;
  height: 72.136px; }
body .cycle > div > div > div > div > div, body.landscape .cycle > div > div > div > div > div {
  width: 44.582px;
  height: 72.136px; }
body .cycle > div > div > div > div > div > div, body.landscape .cycle > div > div > div > div > div > div {
  width: 44.582px;
  height: 27.553px; }
body .cycle > div > div > div > div > div > div > div, body.landscape .cycle > div > div > div > div > div > div > div {
  width: 17.029px;
  height: 27.553px; }
body .cycle > div > div > div > div > div > div > div > div, body.landscape .cycle > div > div > div > div > div > div > div > div {
  width: 17.029px;
  height: 10.524px; }
body .cycle, body.landscape .cycle {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-bottom-left-radius: 10000px;
  -moz-border-radius-bottomleft: 10000px;
  border-bottom-left-radius: 10000px; }
body .cycle > div, body.landscape .cycle > div {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-bottom-right-radius: 10000px;
  -moz-border-radius-bottomright: 10000px;
  border-bottom-right-radius: 10000px; }
body .cycle > div > div, body.landscape .cycle > div > div {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-top-right-radius: 10000px;
  -moz-border-radius-topright: 10000px;
  border-top-right-radius: 10000px; }
body .cycle > div > div > div, body.landscape .cycle > div > div > div {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-top-left-radius: 10000px;
  -moz-border-radius-topleft: 10000px;
  border-top-left-radius: 10000px; }
body .cycle, body.landscape .cycle {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end; }
body .cycle > div, body.landscape .cycle > div {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start; }
body .cycle > div > div, body.landscape .cycle > div > div {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start; }
body .cycle > div > div > div, body.landscape .cycle > div > div > div {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end; }

body.portrait .cycle {
  width: 370.82px;
  height: 600px; }
body.portrait .cycle > div {
  width: 370.82px;
  height: 229.18px; }
body.portrait .cycle > div > div {
  width: 141.641px;
  height: 229.18px; }
body.portrait .cycle > div > div > div {
  width: 141.641px;
  height: 87.539px; }
body.portrait .cycle > div > div > div > div {
  width: 54.102px;
  height: 87.539px; }
body.portrait .cycle > div > div > div > div > div {
  width: 54.102px;
  height: 33.437px; }
body.portrait .cycle > div > div > div > div > div > div {
  width: 20.665px;
  height: 33.437px; }
body.portrait .cycle > div > div > div > div > div > div > div {
  width: 20.665px;
  height: 12.772px; }
body.portrait .cycle > div > div > div > div > div > div > div > div {
  width: 7.893px;
  height: 12.772px; }
body.portrait .cycle {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-top-left-radius: 10000px;
  -moz-border-radius-topleft: 10000px;
  border-top-left-radius: 10000px; }
body.portrait .cycle > div {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-bottom-left-radius: 10000px;
  -moz-border-radius-bottomleft: 10000px;
  border-bottom-left-radius: 10000px; }
body.portrait .cycle > div > div {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-bottom-right-radius: 10000px;
  -moz-border-radius-bottomright: 10000px;
  border-bottom-right-radius: 10000px; }
body.portrait .cycle > div > div > div {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-top-right-radius: 10000px;
  -moz-border-radius-topright: 10000px;
  border-top-right-radius: 10000px; }
body.portrait .cycle {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end; }
body.portrait .cycle > div {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end; }
body.portrait .cycle > div > div {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start; }
body.portrait .cycle > div > div > div {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start; }
