html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

html body {
  display: table; }

html body div {
  display: table-cell;
  vertical-align: middle; }
  html body div div {
    width: 300px;
    height: 300px;
    vertical-align: top;
    border: 1px solid black;
    padding: 10px; }
