html {
  display: table;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }
  html body {
    display: table-cell;
    vertical-align: middle; }
    html body div {
      width: 33%;
      margin: 0 auto;
      border: 1px solid black;
      padding: 10px; }
