html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }
  html body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical; }
    html body #container {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      box-orient: horizontal; }

body {
  background-color: white; }

#container div {
  background-color: rgba(0, 0, 0, 0.07); }

.cycle,
.cycle > div > div {
  width: 100%;
  height: 38.197%; }

.cycle > div,
.cycle > div > div > div {
  height: 100%;
  width: 38.197%; }

.cycle {
  -moz-border-radius-bottomleft: 10000px;
  border-bottom-left-radius: 10000px; }

.cycle > div {
  -moz-border-radius-bottomright: 10000px;
  border-bottom-right-radius: 10000px; }

.cycle > div > div {
  -moz-border-radius-topright: 10000px;
  border-top-right-radius: 10000px; }

.cycle > div > div > div {
  -moz-border-radius-topleft: 10000px;
  border-top-left-radius: 10000px; }

.cycle {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end; }

.cycle > div {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start; }

.cycle > div > div {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start; }

.cycle > div > div > div {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end; }

@media screen and (min-width: 1200px) {
  #container > div {
    width: 1200px;
    height: 741.641px; } }

@media screen and (max-width: 1200px) {
  #container > div {
    width: 1100px;
    height: 679.837px; } }

@media screen and (max-width: 1100px) {
  #container > div {
    width: 1000px;
    height: 618.034px; } }

@media screen and (max-width: 1100px) {
  #container > div {
    width: 1000px;
    height: 618.034px; } }

@media screen and (max-width: 1000px) {
  #container > div {
    width: 900px;
    height: 556.231px; } }

@media screen and (max-width: 900px) {
  #container > div {
    width: 800px;
    height: 494.427px; } }

@media screen and (max-width: 800px) {
  #container > div {
    width: 700px;
    height: 432.624px; } }

@media screen and (max-width: 700px) {
  #container > div {
    width: 600px;
    height: 370.82px; } }

@media screen and (max-width: 600px) {
  #container > div {
    width: 500px;
    height: 309.017px; } }

@media screen and (max-width: 500px) {
  #container > div {
    width: 400px;
    height: 247.214px; } }

@media screen and (max-width: 400px) {
  #container > div {
    width: 300px;
    height: 185.41px; } }

@media screen and (max-width: 300px) {
  #container > div {
    width: 200px;
    height: 123.607px; } }
