html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical; }
  body #container {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal; }

body {
  background-color: white; }

.west {
  -moz-border-radius-topleft: 10000px;
  border-top-left-radius: 10000px; }

.east {
  -moz-border-radius-bottomright: 10000px;
  border-bottom-right-radius: 10000px; }

.north {
  -moz-border-radius-topright: 10000px;
  border-top-right-radius: 10000px; }

.south {
  -moz-border-radius-bottomleft: 10000px;
  border-bottom-left-radius: 10000px; }

#container div {
  width: 990px;
  height: 612px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  background-color: #eeeeee; }
  #container div div {
    width: 378px;
    height: 612px;
    background-color: #dfdfdf;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start; }
    #container div div div {
      width: 378px;
      height: 234px;
      background-color: #cfcfcf;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      box-orient: horizontal;
      -webkit-box-pack: start;
      -moz-box-pack: start;
      box-pack: start; }
      #container div div div div {
        width: 144px;
        height: 234px;
        background-color: silver;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-pack: end;
        -moz-box-pack: end;
        box-pack: end; }
        #container div div div div div {
          width: 144px;
          height: 90px;
          background-color: #b1b1b1;
          display: -webkit-box;
          display: -moz-box;
          display: box;
          -webkit-box-orient: horizontal;
          -moz-box-orient: horizontal;
          box-orient: horizontal;
          -webkit-box-pack: end;
          -moz-box-pack: end;
          box-pack: end; }
          #container div div div div div div {
            width: 54px;
            height: 90px;
            background-color: #a2a2a2;
            display: -webkit-box;
            display: -moz-box;
            display: box;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            box-orient: vertical;
            -webkit-box-pack: start;
            -moz-box-pack: start;
            box-pack: start; }
            #container div div div div div div div {
              width: 54px;
              height: 36px;
              background-color: #929292;
              display: -webkit-box;
              display: -moz-box;
              display: box;
              -webkit-box-orient: horizontal;
              -moz-box-orient: horizontal;
              box-orient: horizontal;
              -webkit-box-pack: start;
              -moz-box-pack: start;
              box-pack: start; }
              #container div div div div div div div div {
                width: 18px;
                height: 36px;
                background-color: #838383;
                display: -webkit-box;
                display: -moz-box;
                display: box;
                -webkit-box-orient: vertical;
                -moz-box-orient: vertical;
                box-orient: vertical;
                -webkit-box-pack: end;
                -moz-box-pack: end;
                box-pack: end; }
                #container div div div div div div div div div {
                  width: 18px;
                  height: 18px;
                  background-color: #747474; }
