body {
  background-color: #FFF;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center; }

.west {
  -moz-border-radius-topleft: 10000px;
  border-top-left-radius: 10000px; }

.east {
  -moz-border-radius-bottomright: 10000px;
  border-bottom-right-radius: 10000px; }

.south {
  -moz-border-radius-topright: 10000px;
  border-top-right-radius: 10000px; }

.north {
  -moz-border-radius-bottomleft: 10000px;
  border-bottom-left-radius: 10000px; }

#container div {
  background-color: #eeeeee; }

#container {
  width: 1100px;
  height: 680px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  background-color: #eeeeee; }
  #container div {
    width: 420px;
    height: 680px;
    background-color: #dfdfdf;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start; }
    #container div div {
      width: 420px;
      height: 260px;
      background-color: #cfcfcf;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      box-orient: horizontal;
      -webkit-box-pack: start;
      -moz-box-pack: start;
      box-pack: start; }
      #container div div div {
        width: 160px;
        height: 260px;
        background-color: silver;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-pack: end;
        -moz-box-pack: end;
        box-pack: end; }
        #container div div div div {
          width: 160px;
          height: 100px;
          background-color: #b1b1b1;
          display: -webkit-box;
          display: -moz-box;
          display: box;
          -webkit-box-orient: horizontal;
          -moz-box-orient: horizontal;
          box-orient: horizontal;
          -webkit-box-pack: end;
          -moz-box-pack: end;
          box-pack: end; }
          #container div div div div div {
            width: 60px;
            height: 100px;
            background-color: #a2a2a2;
            display: -webkit-box;
            display: -moz-box;
            display: box;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            box-orient: vertical;
            -webkit-box-pack: start;
            -moz-box-pack: start;
            box-pack: start; }
            #container div div div div div div {
              width: 60px;
              height: 40px;
              background-color: #929292;
              display: -webkit-box;
              display: -moz-box;
              display: box;
              -webkit-box-orient: horizontal;
              -moz-box-orient: horizontal;
              box-orient: horizontal;
              -webkit-box-pack: start;
              -moz-box-pack: start;
              box-pack: start; }
              #container div div div div div div div {
                width: 20px;
                height: 40px;
                background-color: #838383;
                display: -webkit-box;
                display: -moz-box;
                display: box;
                -webkit-box-orient: vertical;
                -moz-box-orient: vertical;
                box-orient: vertical;
                -webkit-box-pack: end;
                -moz-box-pack: end;
                box-pack: end; }
                #container div div div div div div div div {
                  width: 20px;
                  height: 20px;
                  background-color: #747474; }
