html, body {
  height: 100%; width: 100%;
  margin: 0; padding: 0;
}

#container > div {
  width: 485.4px;
  height: 300px;
}

.cycle,
.cycle > div > div {
  height: 38.2%;
  width: 100%;
}
.cycle > div,
.cycle > div > div > div {
  width: 38.2%;
  height: 100%;
}

#container div {
  background-color: rgba(0,0,0,0.07)
}

.cycle {
  position: absolute;
  top: 0;
}
.cycle > div {
  position: absolute;
  right: 0;
}
.cycle > div > div {
  position: absolute;
  bottom: 0;
}
.cycle > div > div > div {
  position: absolute;
  left: 0;
}

.cycle {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-top-left-radius: 10000px;
  -moz-border-radius-topleft: 10000px;
  border-top-left-radius: 10000px;
}
.cycle > div {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-top-right-radius: 10000px;
  -moz-border-radius-topright: 10000px;
  border-top-right-radius: 10000px;
}
.cycle > div > div {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-bottom-right-radius: 10000px;
  -moz-border-radius-bottomright: 10000px;
  border-bottom-right-radius: 10000px;
}
.cycle > div > div > div {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-bottom-left-radius: 10000px;
  -moz-border-radius-bottomleft: 10000px;
  border-bottom-left-radius: 10000px;
}
